table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
tbody tr:hover{
    background-color: hsl(191, 64%, 90%) ;

}

.stat-table thead th{
    color: #495057;
    font-size: 14px;
    font-weight:700;
}
.stat-table tbody td{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/*Spinner for O-Data*/
/* styles.css or a relevant CSS file */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #144D5A; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.no-data-error{
    color:red;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
    background: white;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.table-footer{
    /*border:1px solid red;*/
    /*display: flex;*/
    /*justify-content: end;*/

}
.table-pagination{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding: .2rem;
    margin:1rem;
}
.table-pagination select{
    padding: .6rem 1rem;
}
